* {
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
    background: ghostwhite;
}

#title {
    text-align: center;
    color: #6C3A5C;
}

#description {
    text-align: center;
    color: #DD5E98;
}

.container {
    margin: auto;
    width: 30%;
    height: 600px;
    padding-top: 20px;
}

survey-form input[type=text], input[type=email], input[type=number]{
    display: inline-block;
    border-radius: 2px;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    
}

#submit{
    background-color: #6C3A5C;
    color: white;
    padding: 14px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}